{{> head}}
{{> navbar}}
    <div class="row"> 
        <div class="col-8">
            <h1>Programacion Orientada a objetos</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/POO.PNG" class="thumbnail">
        </div>
    </div>
{{> footer}}